@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

nav {
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h2 {
  font-size: 40px;
}

a {
  color: black;
  text-decoration: none;
  margin: 0px 10px;
}

#first_container {
  display: flex;
  margin-top: 40px;
}

#left_container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#left_container > h1 {
  font-size: 80px;
}
#left_container > button {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
#right_container {
  flex-basis: 50%;
}
#right_container > img {
  border-radius: 20px;
}

#second_container {
  margin-top: 40px;
}

#second_container>h2{
  text-align: center;
  font-size: 28px;
  padding: 10px 0px;
}
#card_container{
  /* border: 10px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.card{
  flex-basis: 25%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card>img{
  width: 100%;
  border-radius: 10px;
  height: 480px;
  object-fit: cover;
}
.card>h3{
  text-align: center;
  margin-top: 10px;
}

footer{
  padding: 20px 0px;
  margin-top: 40px;
  text-align: center;
  background-color: #fafafa;
}