* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, red, black);
  overflow: hidden;
}

#title {
  color: white;
  font-size: 45px;
  text-shadow: 5px 5px 2px black;
  text-align: center;
  margin-top: 40px;
}

.card {
  height: 420px;
  width: 420px;
  background-color: #fff;
  border-radius: 20px;
  display: inline-block;
  margin: 80px 40px;
}

.img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 3px solid black;
  margin: 20px 0px;
}

.img:hover {
  filter: brightness(0.8);
}

.name {
  text-align: center;
  margin: 5px 0px;
}

.designation {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  color: rgb(74, 74, 74);
  margin: 10px 0px 25px 0px;
}

.description {
  text-align: center;
  padding: 0px 25px;
  word-spacing: 1px;
}
.description::first-letter {
  color: red;
  font-size: 25px;
  font-weight: 700;
}

.btn {
  margin-top: 20px;
  padding: 8px 20px;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 10px;
}

.btn:hover {
  background-color: white;
  color: red;
}
